<!-- 
<div class="toolbar">
  <nav>
  <ul>
    <li><button >New</button></li>
    <li><button >Open</button></li>
    <li><button >Save</button></li>
    <li><button >Bold</button></li>
    <li><button >Italic</button></li>
    <li><button >Underline</button></li>
    <li><button >Undo</button></li>
    <li><button >Redo</button></li>
    <li><button >Cut</button></li>
    <li><button >Copy</button></li>
    <li><button >Paste</button></li>
      </ul>
    </nav>
</div> -->
<nav class="navbar navbar-expand-xl bg-light navbar-light">
<div class="btn-group btn-group-sm.navbar-nav">
  <button type="button" class="btn btn-primary">New</button>
  <button type="button" class="btn btn-primary">Open</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
  <button type="button" class="btn btn-primary">Chapter</button>
  <button type="button" class="btn btn-primary">Section</button>
  <button type="button" class="btn btn-primary">Subsection</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-table"></i>Table</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-image"></i>Image</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-bold"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-italic"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-underline"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-superscript"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-subscript"></i></button>
  
  <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-repeat"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-cut"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-copy"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-paste"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-list"></i></button>
  <button type="button" class="btn btn-primary"><i class=""></i>List</button>
</div>
</nav>